@import "./function";
@import "./variables";

.generate {
  display: none;
  margin: 2rem 1.6rem;

  .locationContainer {
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    border-radius: 0.2rem;
    border: 2px solid #ffffff00;
    
    #locationIcon {
      position: relative;
      margin: 0px 7px 0px 11px;
      cursor: pointer;
      font-size: 1.5rem;
    }
    
    #locationField {
      width: 100%;
      position: relative;
      
      &:focus-within {
        border: 2px solid #ffffff00;
      }
      
      input {
        width: 100%;
        appearance: none;
        border: none;
        outline: none;
      }
      #locationSuggestions {
        
        #suggestions {
          display: none;
          position: absolute;
          background-color: #fff;
          border-radius: 4px;
          left: -45px;
          list-style: none;
          width: calc(100% + 45px);
          top: calc(100% + 6px);
          z-index: 1000;
          overflow: hidden;
          font-size: 15px;
          li {
            list-style-position: inside;
            a {
              cursor: default;
              display: block;
              padding: 6px 12px;
              color: #404040;
              
              .suggestions-title, .suggestions-address {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
              
              .suggestions-title {
                font-weight: bold;
              }
              .suggestions-address {
                
              }
            }
            &.active a{
              background-color: red;
              text-decoration: none;
              cursor: pointer;
            }
          }
          
        }
      }
    }
    
    &:focus-within {
      outline: none;
      transition: border 0.2s ease;
      border: 2px solid $locationContainerwithin;
      #suggestions {
        display: block !important;
      }
    }
  }
  
  .distanceContainer, .elevationContainer {
    display: flex;
    align-items: center;
    background-color: $lighter-gray;
    
    #distance, #elevationUp, #elevationDown {
      max-width: 50px;
      text-align: center;
      font-size: 1.2rem;
      &:focus-within {
        outline: none;
        transition: border 0.2s ease;
        border: 2px solid $locationContainerwithin;
        #suggestions {
          display: block !important;
        }
      }
    }
    
    #elevationContainerUp, #elevationContainerDown {
      display: flex;
      align-items: center;
      background-color: $lighter-gray;
    }
    
    input[type="number"] {
      -moz-appearance: textfield;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    #distance-units, .elevation-units {
      margin-left: 12px;
      margin-right: 4px;
      cursor: pointer;
    }
  }
  
  .methodContainer {
    display: flex;
    text-align: center;
    margin: auto;
    
    input[type="radio"] {
      appearance: none;
      border: none;
      outline: none;
      
      &:checked + label {
        color: white;
        
      }
    }
    label {
      width: 50%;
    }
    
    
    
  }

  #generatePaths {
    cursor: pointer;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.38rem;
    padding: 10px;
    background-color: red;
    border-radius: 5px;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.wrapper {
  position: relative;
  height: 1rem;
  width: 20rem;
  
  &::before,
  &::after {
    padding: 0 12px;
    display: block;
    position: absolute;
    z-index: 99;
    color: #fff;
    width: auto;
    text-align: center;
    font-size: 1rem;
    line-height: 1;
    padding: 0.75rem;
    pointer-events: none;
  }
  
  &::before {
    content: "1"; /* Minus on the left */
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  &::after {
    content: "10"; /* Plus on the right */
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: rgba(#fff, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1rem;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  overflow: hidden;
  cursor: ew-resize; 
  
  &[step] {
    background-color: transparent;
    background-image: repeating-linear-gradient(
    to right,
    rgba(#fff, 0.2),
    rgba(#fff, 0.2) calc(10% - 1px),
    #05051a 10%
    );
  }
  
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem rgba(#fff, 0.2);
  }
  
  &::-moz-range-thumb {
    border: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem rgba(#fff, 0.2);
  }
}

#confirmBtn {
  margin: 0;
  padding: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: $popUpBgHover;
    border-radius: 5px;
  }
}


.leaflet-popup-content-wrapper,  .leaflet-popup-tip, #confirmBtn{
  background-color: $popUpBg;
}