@import "./function";
@import "./variables";

.List_Of_Selected_Paths {
  display: none;
  padding: 16px;
  flex-direction: column;
  gap: 20px;
  
  .Li_Container {
    @include displayFlex(row);
    counter-increment: childIndex; 
    
    &.active {
      .Export_Container {
        display: block;
      }
    }
    &::before {
      content: counter(childIndex) ". ";
      color: gray; 
      font-weight: bold;
      padding: 4px 6px;
      background-color: white;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      text-align: center;
      width: 20px;
      height: 20px;
    }
    .Path_Container {
      width: 100%;
      
      .Path_Result {
        padding: 10px;
        font-size: 1.38rem;
        background-color: red;
        width: 100%;
        border-radius: 10px;
        border-top-left-radius: 0px;
        
        .Distance_Elevation_Container {
          @include displayFlex(row);
          gap: 30px;
          margin: auto;
        }
        
        .Distance_Container, .Elevation_Up, .Elevation_Down {
          @include displayFlex(column);
          text-align: center;
          align-items: center;
          justify-items: center;
        }
        
        .Surface_Container {
          @include displayFlex(column);
          left: 0px;
          color: #737373;
          font-weight: 600;
          font-size: 1.38rem;
          
          .WayType_Title {
            @include displayFlex(row);
            
            .WayType_Icon {
              height: 1.68rem;
              margin-right: 10px;
              color: wheat;
            }
          }
          
          .Surface {
            @include displayFlex(row);
            width: 100%;
            height: 20px;
            white-space: nowrap;
            border-radius: 5px;
            margin-top: 15px;
            margin-bottom: 5px;
            
            .Surface_Element {
              width: 100%;
              height: 100%;
              display: inline-block;
              transition: 200ms transform;
              
              &:hover {
                transform: scale(1.05);
                box-shadow: white;
              }
              
              
              &:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
              }
              
              &:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                
              }
            }
            
            .a1 {
              background-color: $a1;
            }
            
            .a2 {
              background-color: $a2;
            }
            
            .a3 {
              background-color: $a3;
            }
            
            .a4 {
              background-color: $a4;
            }
          }
        }
      }
    }
      
    .Export_Container {
      display: none;
      
      .Accordion_Title {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
      }
      
      .active, .Accordion_Title:hover {
        background-color: #ccc;
      }
      
      .Accordion_Title:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }
      
      .Accordion_Text {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      } 
    }
  }
}