@import "./function";
@import "./variables";

.Paths {
  display: none;
  padding: 16px;
  margin: 2rem 1.6rem;
  
  h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  ul {
    @include displayFlex(column);
    gap: 20px;
    
    &:empty::before {
      content: "No paths";
      color: gray;
      font-size: 1rem;
      display: block;
      text-align: center;
      padding: 1rem;
    }
    
    li {
      position: relative;
      
      .fa-trash {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
        visibility: hidden;
      }
      
      &:hover  .fa-trash {
        height: auto;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      cursor: pointer;
      position: relative;
      border-radius: 5px;
      background-color: green;
      padding: 10px;
      
      .Paths_Measure {
        @include displayFlex(row);
        gap: 10px;
        font-size: 1.38rem;
        margin-bottom: 5px;
      }
      
      .Paths_Location {
        font-size: 1rem;
      }
      
      .Paths_Number {
        position: absolute;
        bottom: 5px;
        right: 10px;
      }
      
    }
  }
}
