$color_1: #ebebeb;
$color_2: #27262c;
$color_3: #ccc;
$text_shadow: #ef816c;
$locationContainerwithin: red;
$lighter-gray: #ccc; 
$border-radius: 0.2rem; 

$a1: red;
$a2: blue;
$a3: yellow;
$a4: green;
$popUpBg: gray;
$popUpBgHover: rgb(197, 196, 196);