$color_1: #ebebeb;
$color_2: #27262c;
$color_3: #ccc;
$text_shadow: #ef816c;
$locationContainerwithin: red;
$lighter-gray: #ccc; 
$border-radius: 0.2rem; 

$a1: red;
$a2: blue;
$a3: yellow;
$a4: green;
$popUpBg: gray;
$popUpBgHover: rgb(197, 196, 196);


$white: #f6f6f6;
$dark-white: #f8f9fa;
$light-gray: #ccc;
$gray: #888;
$light-black: #404040;
$light-black2: #4A4A4A;
$orange: #e9674e;
$orange-light: #e79282;
$ebe: #ebebeb;
$black: #000000;
$black2: #222;

$border-sideBar: #ccc;